header {
  display: inline-flex;
  height: 50px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  header h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400; }
  header ul {
    list-style-type: none; }
    header ul li {
      display: inline-block; }
      header ul li a {
        text-decoration: none;
        font-weight: 900;
        padding: 10;
        color: white; }
