body {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic; }
  body #layout-main {
    height: 100%; }
  body #feed-posts {
    text-align: left;
    margin-left: 38px;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer; }
    body #feed-posts *:focus {
      outline: none; }
    body #feed-posts textarea:focus {
      background-color: rgba(0, 0, 0, 0.15); }
