footer {



    width: 100%;
    background-color: lightness($color: #000000);
    height: 80px;
    margin: 0;
    display: flex;



    h3 {
        font-size: 20px;

        color: white;
        margin-left: 5px;
    }

    ul {
        list-style-type: none;

        li {
            a {
                font-size: 20px;

                color: white;
                text-decoration: none;
                flex-direction: column;
            }
        }
    }
}